<h1> <%= @blog.title %></h1>
<p>Submitted <%= time_ago_in_words(@blog.created_at) %> Ago by <%= @blog.user.user_id %></p>
</br>

<h2><%= @blog.content %></h2>

<%= link_to "Home", root_path, class: 'btn btn-success' %>

<% if user_signed_in? %>
	<% if current_user.id == @blog.user.id %>
		<%= link_to "Delete Blog", blog_path(@blog.display_id), method: :delete, class: 'btn btn-success' %>
		<%= link_to "Edit", blog_edit_path(@blog.display_id), class: 'btn btn-success'  %>
	<% end %>
<% end%>
</br>
</br>

<h1>
<% if @comments.count == 1 %>
	<%= @comments.count%> comment</h1>
<% else %>
	<%= @comments.count%> comments</h1>
<% end %>

<% @comments.each do |comment| %>
		<p> <%=  comment.content %> - Submitted <%= time_ago_in_words(comment.created_at)%> ago by <%= comment.user.user_id%></p>
<% end %>

<% unless current_user.blank? %>
	<%= render "/comments/form" %>
<% end %>

