<h1> <%= @blog.title %></h1>
<p>Submitted <%= time_ago_in_words(@blog.created_at) %> Ago by <%= @blog.user.user_id %></p>
</br>

<h2><%= @blog.content %></h2>

<%= link_to "Home", root_path, class: 'btn btn-success' %>

<% if user_signed_in? %>
	<% if current_user.id == @blog.user.id %>
		<%= link_to "Delete Blog", blog_path(@blog.display_id), method: :delete, class: 'btn btn-success' %>
		<%= link_to "Edit", blog_edit_path(@blog.display_id), class: 'btn btn-success'  %>
	<% end %>
<% end%>
</br>
</br>

<div id="comments">
	<h1><%= pluralize(@comments.count,"comment")%></h1>
	<%= render @blog.comments %>		
</div>

<% unless current_user.blank? %>
	<%= render "/comments/form" %>
<% end %>

<p> This is coming from the session: <%= session[:blog]%>


