<div id="content">
<label>Name:</label><%= @user.user_id %><br>
<label>Email:</label>
    <% if user_signed_in? && current_user.user_id == @user.user_id %>
        <input type='text' value='<%= @user.email %>'>
    <% else %>
        <%= @user.email %>
    <% end %>
<br>
<label>Last sign in: </label><%= @user.current_sign_in_at.strftime('%a %m/%d/%y %l:%M%p') %><br>
</div>

<div id="user_history">
    <h2>Blog History</h2>
    <div id="blog_history">
    <%= render @user.blogs.order('created_at') %>
    </div>
    <div id="comment_history">
    <h2>Comment History</h2>
    <p>Comment count: <%= @user.comments.count %>
    </div>
</div>


