<!DOCTYPE html>
<html>
<head>
  <title>TheNoisyAtheist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %> 

  <div class="container">
        <div class="row">
  
          <%= yield %>

          

        </div> <!-- end row -->
  </div> <!-- end container -->

</body>
</html>
