<!DOCTYPE html>
<html>
<head>
  <title>TheNoisyAtheist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<% if current_user == nil %>
  <p> not signed in</p>
<% else %>
  <p> FOR TESTING - signed in as <%= current_user.user_id %>(app layout file) </p>
<% end %>
<%= yield %>

</body>
</html>
